<header>
    <h1>Bienvenido a <br>ZOAN<br></h1>
    <h2>Seleccione entre nuestras deliciosas comidas y refrescantes bebidas</h2>
    <p>Explore nuestro menú y descubra una variedad de opciones que satisfarán todos sus antojos.</p>
</header>

<style>
    header{
        color: white;
        text-align: center;
    }header h1{
        font-size: 2.5rem;
        color: #d39f45b8;
    }

</style>
